<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
    <!-- 加载 jdbc properties 文件 -->
    <properties resource="jdbc.properties" />
 
    <typeAliases>
        <typeAlias alias="Engineer"  type="com.laolang.lbw.domain.Engineer"/>
        <typeAlias alias="User" type="com.laolang.lbw.domain.User"/>
        <typeAlias alias="Pwds" type="com.laolang.lbw.domain.Pwds"/>
    </typeAliases>
     
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/laolang/lbw/domain/EngineerMapper.xml" />
        <!-- 
        <mapper resource="com/laolang/lbw/domain/UserMapper.xml" />
        <mapper resource="com/laolang/lbw/domain/PwdsMapper.xml" />
         -->
    </mappers>
</configuration>